@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  transition: 0.3s;
}

a:hover {
  transition: 0.3s;
  color: var(--main-secondary);
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.img {
  background-size: cover;
  background-position-y: 20%;
}

.theme_light {
  --main: #202020;
  --lighter: #a1a4a7;
  --alternative: #6e88a2;
  --bg: #fff;
  --focus: #535457;
}

.theme_dark {
  --main: #ffffff;
  --lighter: #a1a4a7;
  --alternative: #5c5c5c;
  --bg: #282828;
  --focus: #5a5a5a;
}

.test {
  color: #c1c7ce
}


input,
select {
  background: none;
  border-color: var(--main);
  padding: 0 0.5rem;
}

.shadow-md-custom {
  -webkit-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.svg-white svg {
  stroke: #fff;
  fill: #fff;
}

.svg-white-on-hover:hover svg {
  stroke: var(--bg);
  fill: var(--bg);
}

.svg-gray svg {
  fill: #718096;
}

.rotate-180 {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

svg {
  stroke: var(--main);
  fill: var(--main);
  width: 3rem;
  transition: 0.3s;
}

svg:hover {
  stroke: var(--focus);
  fill: var(--focus);
  transition: 0.3s;
}

.svg-3xl {
  width: 12rem;
}

.svg-2xl {
  width: 8rem;
}

.svg-xl {
  width: 4rem;
}

li {
  list-style: none;
}

.centered {
  left: calc(50%);
  top: 50%;
  transform: translateX(-50%)translateY(-50%);
}

.centerY {
  top: 50%;
  transform: translateY(-50%);
}

.centerX {
  left: 50%;
  transform: translateX(-50%);
}

/* Arrow bounce */

.arrowBounce {
  animation: bounce 3s infinite;
}

.arrowBounce svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-10px);
  }
}

/* Animation for carousel */

.fade-leave-active {
  transition: all 1s ease;
}

.fade-enter-active {
  transition: all 1s ease;
  visibility: 0;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  visibility: hidden;
}

.grayscale {
  /* IE */
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);

  /* Chrome, Safari */
  -webkit-filter: grayscale(1);

  /* Firefox */
  filter: grayscale(1);
}

/* v2 */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  width: 250px;
  top: 120%;
  left: 50%;
  margin-left: -125px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.027), 0 2px 4px -2px rgba(0, 0, 0, 0.027);
}

/* Soundwave animation */

.stroke {
  width: 5px;
}

.soundwave-animation .stroke {
  animation: wiggle 1.4s linear infinite;
}

@keyframes wiggle {
  50% {
    transform: scaleY(0.5);
  }
}

.stroke:nth-child(2) {
  animation-delay: 1s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.4s;
}

.stroke:nth-child(5) {
  animation-delay: 0s;
}

.stroke:nth-child(6) {
  animation-delay: 0.4s;
}

tr {
  border-bottom: 2px solid rgba(231, 231, 231, 0.383);
  padding-top: 0.2rem;
  margin-bottom: 1rem;
}